.pagination {
  margin-top: 15px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
}

.pagination button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  color: #474955;
}

.pagination button:hover {
  color: #1a1b20;
}

.pagination > button {
  font-size: 24px;
  font-weight: 500;
}
.pagination > button:disabled {
  opacity: 0.5;
  cursor: default;
}

.pages {
  display: flex;
  gap: 10px;
}
.pages button {
  font-size: 18px;
  font-weight: 700;
}
