.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

@media (max-width: 1050px) {
  .items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
}
